@media (max-width: 1200px) {
    body {
        background-color: #f44336;
    }

    .fundo-video {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .mario {
        max-width: 50%;
    }

    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .informacoes .imagem-titulo {
		max-width: 50%;
	}

    .container .informacoes .descricao {
        color: #ffffff;
        text-align: center;
    }

    .container .informacoes .botao-trailer {
        background-color: #263238;
    }
}

@media (max-width: 768px) {
    .modal #video {
        width: 350px;
        height: 190px;
    }
}

@media (max-width: 500px) {
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .container .imagem-do-titulo {
        max-width: 75%;
    }

    .modal .fechar-modal {
        width: 30px;
        line-height: 30px;
    }
}

@media (max-width: 425px) {
    .cabecalho .logo {
        width: 50px;
    }

	.cabecalho nav li a {
        font-size: 20px;
    }

    .container .informacoes .imagem-do-titulo {
        max-width: 250px;
    }

    .container .informacoes .descricao {
        font-size: 16px;
    }

    .container .informacoes .botao-trailer a {
        font-size: 16px;
    }
}

@media (max-width: 376px) {
	.modal #video {
		width: 250px;
		height: 140px;
	}
}